
version: '3'


services:

  webapp:
    build:
      context: .
      dockerfile: 'Dockerfile'
    image: pydo
    container_name: pydo
    restart: always
    links:
      - mysql:mysql
      - redis:redis
    # not needed unless opened as a service
    # ports:
    #  - "80:80"
    # command: /usr/bin/supervisord

  mysql:
    image: mysql:5.7
    container_name: pydo-mysql
    restart: always
    volumes:
     - ./mysql_store:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=password
      - MYSQL_DATABASE=pydo

  adminer:
    image: adminer:4.6.2
    container_name: pydo-adminer
    restart: always
    links:
      - mysql:mysql
    ports:
      - "8080:8080"

  redis:
    image: redis:4.0.9-alpine
    container_name: pydo-redis
    restart: always
    volumes:
     - ./redis_store:/data

